.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: seagreen;
    margin: 0px;
    padding: 10px;
    color: #fff;
}


body > main{
    border-radius: 10px;
    color: white;
    background: red;
   
}
#playground{
    display: none;
}
#Highscores{
    display: none;
}
.main-content{
    display: block;
    position: absolute;
    width: 600px;
    margin: 0 auto;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 10px 5px lightgray;
    padding: 20px;
}
